/* login/signup pages */

/* Global */

* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

form {
  align-items: center;
}

/* ----------- */

/* Messages */

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert {
  display: flex;
  flex-direction: row;
  text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.close {
  cursor: pointer;
  border: none;
  background-color: transparent;
  float: right;
  transform: translate(35%, -35%)

}

.message-text {
  width: 95%;
  padding: 10px 0 10px;
}

.profile {
  transform: translate(25%, -25%)
}

.login {
  transform: translate(140%, -20%)
}

.register {
  transform: translate(80%, -25%)
}

button {
  border: none;
}

/* --------------- */

.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
  margin-top: calc(var(--mdb-gutter-y)*-1);
  margin-right: calc(var(--mdb-gutter-x)*-0.5);
  margin-left: calc(var(--mdb-gutter-x)*-0.5);
  box-sizing: border-box;
  min-height: 100vh;
}

.form-header {
  font-size: 30pt;
  text-align: center;
  margin-bottom: 48px;
}

.form-outline {
    position: relative;
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}

.form-label {
  box-sizing: border-box;
  cursor: default;
  display: inline-block;
  position: absolute;
  top: 0;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  left: 0.75rem;
  padding-top: 0.37rem;
  pointer-events: none;
  transform-origin: 0 0;
  transition: all .2s ease-out;
  color: rgba(0,0,0,.6);
  margin-bottom: 0;
}

input {
  writing-mode: horizontal-tb !important;
  font-style: ;
  font-variant-ligatures: ;
  font-variant-caps: ;
  font-variant-numeric: ;
  font-variant-east-asian: ;
  font-weight: ;
  font-stretch: ;
  font-size: ;
  font-family: ;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.form-input {
  min-height: calc(1.6em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #4f4f4f;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 8%);
  transition: all .2s linear;
}

.btn-block {
  cursor: pointer;
  margin: 0;
  --mdb-btn-margin-top: 0.5rem;
  display: block;
  width: 100%;
}

/*Нужно додетать тень, чтоб она была зеленой и переключалась при наведении*/

.btn {
  --mdb-btn-padding-top: 0.75rem;
  --mdb-btn-padding-bottom: 0.6875rem;
  --mdb-btn-padding-x: 1.6875rem;
  --mdb-btn-font-size: 0.875rem;
  --mdb-btn-line-height: 1.6;
  --mdb-btn-border-width: 0;
  --mdb-btn-border-color: none;
  --mdb-btn-border-radius: 0.25rem;
  --mdb-btn-box-shadow: 0 4px 9px -4px rgba(0,0,0,0.35);
  --mdb-btn-hover-box-shadow: 0 8px 9px -4px rgba(0,0,0,0.15),0 4px 18px 0 rgba(0,0,0,0.1);
  --mdb-btn-focus-box-shadow: 0 8px 9px -4px rgba(0,0,0,0.15),0 4px 18px 0 rgba(0,0,0,0.1);
  --mdb-btn-active-box-shadow: 0 8px 9px -4px rgba(0,0,0,0.15),0 4px 18px 0 rgba(0,0,0,0.1);
  padding-top: var(--mdb-btn-padding-top);
  padding-bottom: var(--mdb-btn-padding-bottom);
  text-transform: uppercase;
  vertical-align: bottom;
  border: 0;
  border-radius: var(--mdb-btn-border-radius);
  box-shadow: var(--mdb-btn-box-shadow);
}


.text-body {
  --mdb-text-opacity: 1;
  color: rgba(var(--mdb-body-color-rgb),var(--mdb-text-opacity))!important;
}

.no_account {
  text-align: center;
  color: #757575;
  margin-bottom: 0;
  margin-top: 3rem;
  --mdb-text-opacity: 1;
}

.mb-4 {
    margin-bottom: 1.5rem!important;
}

.card-body {
  padding: 48px;
  flex: 1 1 auto;
  box-sizing: border-box;
  align-items: center;
  min-width: 350px;
}

.card {
  margin-top: 40px;
  border: 0;
    --mdb-card-spacer-y: 1.5rem;
    --mdb-card-spacer-x: 1.5rem;
    --mdb-card-title-spacer-y: 0.5rem;
    --mdb-card-border-width: 1px;
    --mdb-card-border-color: var(--mdb-border-color-translucent);
    --mdb-card-border-radius: 0.5rem;
    --mdb-card-box-shadow: 0 2px 15px -3px rgba(0,0,0,0.07),0 10px 20px -2px rgba(0,0,0,0.04);
    --mdb-card-inner-border-radius: calc(0.5rem - 1px);
    --mdb-card-cap-padding-y: 0.75rem;
    --mdb-card-cap-padding-x: 1.5rem;
    --mdb-card-cap-bg: hsla(0,0%,100%,0);
    --mdb-card-bg: #fff;
    --mdb-card-img-overlay-padding: 1.5rem;
    --mdb-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--mdb-card-height);
    word-wrap: break-word;
    background-color: var(--mdb-card-bg);
    background-clip: border-box;
    border: var(--mdb-card-border-width) solid var(--mdb-card-border-color);
    border-radius: var(--mdb-card-border-radius);
    box-shadow: var(--mdb-card-box-shadow);
  }


section {
  width: 25%;
  min-width: 350px;
}


.authentication_logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}
@media (min-width: 992px)
.col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}
@media (min-width: 768px)
.col-md-9 {
  flex: 0 0 auto;
  width: 75%;
}
.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.card-image {
  transform: translate(-35%, 35%)
}

.classic {
  transform: translate(-40%, 35%)
}



a {
  color: #4f4f4f;
}

a:hover {
  color: #4f4f4f;
}

a:visited {
  color: #4f4f4f;
}



/* profile page */

.main-content {
  padding: 0 10 10 20;
}


/* h1 headers */
.cabinet{
  text-indent: 40px;
}

.article-header-text {
  text-indent: 40px;
  padding-top: 40px;
}
/* ------------ */

.user-profile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 2px solid;
  border-color: #4f4f4f;
  border-radius: 10px;
}

.profile-icon {
  margin-top: 3px;
}

/* Cell with avatar, nickname, soc. networks */

.visual-info {
  min-width: 300px;
  width: 30%;
/*  background-color: red;*/
  height: 100%;
  padding: 5 5 5 5;
  height: 100%;
}

.username, .avatar {
  padding: 15 0 15;
  display: flex;
  align-items: center;
  justify-content: center;
}

.username-input {
  padding: 5;
  margin: 5;
  max-width: 300px;
}

.social-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin: 0px;
  padding: 0px;
}

.social-network-url {
  padding: 0 10px 0 10px;
}

/* ---------------- */

.left-column {
  float: left;
}


.for-right-column {
  float: right;

}

.row div input{
  max-width: 400px;
  min-width: 400px;
}

.text-info {
/*  background-color: green;*/
  padding: 10px 10px 10px 10px;
  border-left: 2px solid;
  border-color: #4f4f4f;
}

.info-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.articles-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div .row {
  padding: 0 20px 40px;
}

.row label {
  color: black;
  font-weight: bold;
  padding-bottom: 5px;
}

.save {
  margin-top: 30px;
  width: 200px;
  float: right;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  word-wrap: wrap;
}

/* Articles */

.articles {
  border: 5px solid;
  border-radius: 10px;
  margin: 5px;
  padding: 25px;
  width: 65%;
}

.article_preview {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article_header_text {
  font-weight: bold;
  font-size: 22pt;
  margin: 8px 0 0 0;
  padding: 0;
}

.article_text_preview {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin: 10px 20px 10px 0;
  text-indent: 10px;
}

article {
  border: solid;
  border-color: rgb(200, 200, 200);
  border-radius: 15px;
  margin-bottom: 5px;
  padding-right: 20px;
  width: 80%;
  height: 149px;
}

div .full-article {
  display: flex;
  flex-direction: row;
}

.media-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  padding-left: 10px;
}

.views, .rating {
  text-align: center;
  padding-top: 20px;
}


article img {
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-right: 10px;
}

a:link.article-link, a:visited.article-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:hover.article-link, a:active.article-link {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}


/* ---------------- */
