{% extends 'users/base.html' %}
{% load static %}

{% block title %}Авторизация{% endblock %}

{% block content %}
<div class="col-12 col-md-9 col-lg-7 col-xl-7">
    <div class='card'>
        <div class='card-body'>
            <div class="form-header"><font color='#4f4f4f'>Авторизация</font></div>
                <div class="login_input">
                    <form action='{% url "login" %}' method="post">
                        {% csrf_token %}
                        <div class='form-outline mb-4'>
                            <img class="classic" src='{% static "users/icons/username.png" %}' alt="username" width='32px' height='32px'>
                            <!-- <label class='form-label' for="{{ form.username.id_for_label}}"></label> -->
                            {{ form.username }}
                        </div class='form-outline mb-4'>
                        <div class='form-outline mb-4'>
                            <img class="classic" src='{% static "users/icons/padlock.png" %}' alt="password" width='32px' height='32px'>
                            <!-- <label class='form-label' for="{{ form.password.id_for_lable }}"></label> -->
                            {{ form.password }}
                        </div>
                        <div class='form-outline mb-4'>
                            <button class="btn btn-primary btn-block gradient-custom" type="submit">Авторизоваться</button>
                        </div>
                        <div class="authentication_logos form-outline mb-4">
                            <a href="#"><img src='{% static "users/icons/google.png"%}' alt='google' width="32px" height="32px"></a>
                            <a href="#"><img src='{% static "users/icons/facebook.png"%}' alt='facebook' width="32px" height="32px"></a>
                            <a href="#"><img src='{% static "users/icons/github.png"%}' alt='github' width="32px" height="32px"></a>
                            <a href="#"><img src='{% static "users/icons/vk.png"%}' width="32px" alt='vk' height="32px"></a>
                        </div>
                    </form>
                    <div class="no_account">
                    <p>
                        <b><a href="#">Забыли пароль?</a></b>
                        <br>Нужен аккаунт? 
                        <b><a href="{% url 'signup' %}">Зарегистрируйся!</a></b>
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}