{% extends 'users/base.html' %}
{% load static %}

{% block title %}Авторизация{% endblock %}

{% block content %}
<div class="col-12 col-md-9 col-lg-7 col-xl-7">

    {% if messages or form.non_field_errors %}
        {% if messages %}
        <div class="alert alert-success" role="alert">
            <div class='message-text'>
            <span>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            </span>
            </div>
            <div style="width: 5%">
                <button class="close register" onclick="document.getElementsByClassName('alert')[0].style.display = 'none'"><img src='{% static "users/icons/close.png" %}' class="close" width="16px" height="16px"></button>
            </div>
        </div>
        <!-- <div class='alert alert-warning' role='alert' style='margin-bottom: 20px; width: 90%;'>
            <div>
            
            <div style="width: 10%">
                <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&#10006;</span></button>
            </div>
        </div> -->
        {% else %}
        <div class="alert alert-danger" role="alert">
            <div class='message-text'>
            <span>
            Введите верные имя пользователя и пароль.<br><strong>Обратите внимание</strong>, что поля ввода чувствительны к регистру!
            </span>
            </div>
            <div>
                <div style="width: 5%"><button class="close login" onclick="document.getElementsByClassName('alert')[0].style.display = 'none'"><a><img src='{% static "users/icons/close.png" %}' class="close" width="16px" height="16px"></a></button></div>
            </div>
        </div>
        {% endif %}
    {% endif %}

<!--     {# if error #}
    <div class="error-div">
        <div class='error-div-text'><strong>Ошибка введенных данных</strong></div>
    </div>
    {# endif #} -->
    
    <div class='card'>
        <div class='card-body'>
            <div class="form-header"><font color='#4f4f4f'>Авторизация</font></div>
                <div class="login_input">
                    <form action='{% url "login" %}' method="post">
                        {% csrf_token %}
                        <div class='form-outline mb-4'>
                            <img class="classic" src='{% static "users/icons/username.png" %}' alt="username" width='32px' height='32px'>
                            <!-- <label class='form-label' for="{{ form.username.id_for_label}}"></label> -->
                            {{ form.username }}
                        </div class='form-outline mb-4'>
                        <div class='form-outline mb-4'>
                            <img class="classic" src='{% static "users/icons/padlock.png" %}' alt="password" width='32px' height='32px'>
                            <!-- <label class='form-label' for="{{ form.password.id_for_lable }}"></label> -->
                            {{ form.password }}
                        </div>
                        <div class='form-outline mb-4'>
                            <button class="btn btn-primary btn-block gradient-custom" type="submit">Авторизоваться</button>
                        </div>
                        <div class="authentication_logos form-outline mb-4">
                            <a href="#"><img src='{% static "users/icons/google.png"%}' alt='google' width="32px" height="32px"></a>
                            <a href="#"><img src='{% static "users/icons/facebook.png"%}' alt='facebook' width="32px" height="32px"></a>
                            <a href="#"><img src='{% static "users/icons/github.png"%}' alt='github' width="32px" height="32px"></a>
                            <a href="#"><img src='{% static "users/icons/vk.png"%}' width="32px" alt='vk' height="32px"></a>
                        </div>
                    </form>
                    <div class="no_account">
                    <p>
                        <b><a href="#">Забыли пароль?</a></b>
                        <br>Нужен аккаунт? 
                        <b><a href="{% url 'signup' %}">Зарегистрируйся!</a></b>
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}