{% load static %}

<html>
<head>
<title>Профиль</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link href="{% static 'users/css/main.css' %}" rel="stylesheet">
</head>

<body>
	<nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link link-dark px-2 active" aria-current="page">Главная</a></li>
        <li class="nav-item"><a href="{% url 'about' %}" class="nav-link link-dark px-2">Обо мне</a></li>
        <li class="nav-item"><a href="{% url 'contacts' %}" class="nav-link link-dark px-2">Контакты</a></li>
      </ul>
      <ul class="nav">
        {% if request.user.is_authenticated %}
         	<img src=" {% static 'users/icons/user.png'%}" width="32px" height="32px" class='profile-icon'>
         	<li class="nav-item"><b><a href="{% url 'profile' %}" class="nav-link link-dark">{{ request.user.username }}</a></b></li>
					{% if request.user.is_staff or request.user.is_superuser %}
						<li class='nav-item'><b><a href="{% url 'admin:index' %}" class="nav-link link-dark active px-2">Админ-панель</a></b>
					{% endif %}
         	<li class='nav-item'><b><a href="{% url 'logout' %}" class="nav-link link-dark">Выйти</a></b></li>
        {% else %}
          <li class="nav-item"><a href="{% url 'login' %}" class="nav-link link-dark px-2">Войти</a></li>
          <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link link-dark px-2">Зарегистрироваться</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
   <header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
      <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Django blog ZSS</span>
      </a>
      <form class="col-lg-auto mb-3 mb-lg-0" role="search">
        <input type="search" class="form-control" placeholder="Поиск по статьям..." aria-label="Search">
      </form>
    </div>
  </header>
  <div class='main-content'>
	<h1 class='cabinet'>Личный кабинет</h1>
	{% if messages %}
	<div class='alert alert-success'>
		<div class='message-text'><span>{% for message in messages %} {{ message }} {% endfor %}</span></div>
		<div style="width: 5%"><button class="profile close" onclick="document.getElementsByClassName('alert')[0].style.display = 'none'"><a><img src='{% static "users/icons/close.png" %}' class="close" width="16px" height="16px"></a></button></div>
	</div>

	{% endif %}
		<form action='{% url "profile" %}' method='post' class='user-profile'>
			{% csrf_token %}
		<div class='visual-info col-sm-4'>
			<div class='avatar'>
				<a><img src='{% if user.image %} {{ user.image.url }} {% else %} {% static "users/icons/user.png" %} {% endif %}' class='img rounded-circle' alt='User-Profile-Image' width='200px' height='200px'></a>
			</div>
			<div class='username'>
				<label>Никнейм: </label>
				{{ form.username }}
			</div>
			<div class="social-networks">
				<center>
				<a href="#!" class='social-network-url'><img src='{% static "users/icons/facebook.png" %}' width='48px' height='48px'></a>
				<a href="#!" class='social-network-url'><img src='{% static "users/icons/google.png" %}' width='48px' height='48px'></a>
				<a href="#!" class='social-network-url'><img src='{% static "users/icons/github.png" %}' width='48px' height='48px'></a>
				<a href="#!" class='social-network-url'><img src='{% static "users/icons/vk.png" %}' width='48px' height='48px'></a>
      </center>
			</div>
		</div>
		<div class='text-info col-sm-8'>
			<!-- <div class='info'>
				<h2>Информация</h2>
			</div> -->
			<div class='info-container'>
				<div class='row'>
					<div class='firstname col-sm-6 left-column'>
					<label>Имя</label>
					{{ form.first_name }}
					</div>
					<div class='lastname col-sm-6 right-column'>
											<div class='for-right-column'>
					<label>Фамилия</label>
					{{ form.last_name }}
											</div>
					</div>
				</div>
				<div class='row'>
					<div class='email col-sm-6 left-column' >
					<label>Email</label>
					{{ form.email }}
					</div>
					<div class='date col-sm-6 right-column'>
											<div class='for-right-column'>
					<label>Дата регистрации</label>
					{{ form.date_joined }}
											</div>
					</div>
					<div class="col-sm-12">
					<button class='btn btn-success save'>Сохранить</button>
					</div>
				</div>
				<div class='articles-info row left-column'>
					<div class='col-sm-6'>
					<label><a href='#' class='article-link'>Последняя статья</a></label><br>
					<a href="{% url 'article-view' last_article.id %}"> {{ last_article.title }} </a>
					</div>
					<div class='col-sm-6 right-column'>
											<div class='for-right-column'>
					<label><a href='#' class='article-link'>Статья с наибольшим количеством просмотров</a></label>
											</div>
					</div>
				</div>
			</div>
			</form>
		</div>
		<div class="article-header">
			<h1 class='article-header-text'>Все ваши статьи</h1>
		</div>
		<div class="articles">
			{% if articles %}
			{% for article in articles %}
			<div class='full-article'>
			<article>
      	<div class="preview_image">
      	    <a href='{% url "article-view" article.id %}' class="article-link"><img src="../../{{ article.picture }}" class="img" width="144" height='144'	align="left"></a>
      	</div>
      	<div class="article_preview">
      	    <p class="article_header_text"><a href='{% url "article-view" article.id %} ' class='article-link'>{{article.title}}</a></p>
      	    <p class="article_text_preview"><a href='{% url "article-view" article.id %}' class='article-link'>{{article.text}}</a></p>
      	</div>
      </article>

				<div class='media-info'>
      		<div class='views'>
      			<p>Просмотров: *Тут будет кол-во* </p>
      		</div>

      		<div class='rating'>
      			<p>Рейтинг: *Тут будет рейтинг*</p>
      		</div>
      	</div>

    	</div>
      {% endfor %}
			{% else %}
				<h3><u>Здесь пока нет статей ;c</u></h3>
			{% endif %}
		</div>
	<div>
</body>
</html>
<!-- <script>
document.getElementsByClassName('alert')[0].style.display = "none"
</script>
 -->
