{% extends "articles/layout.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
    <center>
        <div class="article_create">
            <h1>Редактирование статьи</h1> <br>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.picture }}<br>
                {{ form.title }}<br>
                {{ form.text }}<br>
                <span color="red"> {{ error }} </span>
                <button class="btn btn-success" type="submit">Изменить</button>
            </form>
        </div>
    </center>
{% endblock %}